<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    I am an ejs file

    <%= firstName %> <%= lastName %> 
    
    <h1><%= city %></h1>

    <%= cities %> 

    <%= num %> 

    <% cities.forEach((city, index) => { %> 
            <li><a href="/citydata/<%= index %>"><%= city %> </a></li>
    <% }); %>
 
    <img src="<%= pictures %> " height="400px">

    <% if (user) { %> 
    User exists
    <% } %> 
</body>
</html>